
header.flex {
    justify-content: space-between;
    padding: 0 2.5rem;
    margin-top: 1.2rem;
    
  }

  header.flex nav{
    background-color: var(--primary-background);
    padding: .7rem 1.5rem;
    border-radius: 55px;
    box-shadow: 1px 1px 10px black;
   
  }

header ul.flex {
  gap: 16px;
  
}

header ul li a {
  color: var(--title);
  text-transform: uppercase;
  opacity: .9;
  font-size: .8rem;
  font-weight: 500;
  
}
header ul li a:hover{
    color: var(--title);
    text-transform: uppercase;
    opacity: 1;
    font-size: .9rem;
    font-weight: 500;
    color: var(--blue);
  }

header button{
    font-size: 1.2rem;
    cursor: pointer;
}
header button:active{
  scale: .9;
  }
header .menu {
    display: none;
}



/* start pop up */

header .fixed{
  position: fixed;
  inset: 0;
  background-color: rgba(40, 40, 48, 0.884);
  transition: scale .5s;
  z-index: 100;
}
/* end pop up */

/* start modal in pop up*/
header .fixed ul.modal{
  width: 80%;
  margin: 2rem auto 0 ;
  padding: 1.8rem 2rem;
  border-radius: 1rem;
  background-color: var(--secondary-background);
  box-shadow: 1px 1px 10px var(--secondary-background);
  animation: modal .5s;

}

@keyframes modal {
  0% {
    scale: 0;
  }
  65%{
    scale: 1.3;
  }

  100% {
    scale: 1;
  }
}


header .fixed ul.modal li{
  border-bottom: 1px solid var(--boredr);
  padding :0.8rem 0;
}
header .fixed ul.modal li:last-child{
  border-bottom: none;
}
header .fixed ul.modal li a{
  font-size: 1rem;
}
header .fixed ul.modal li:first-child{
  text-align: right;
  border: none;
  padding :0 ;
  margin-bottom: -1rem;
  
}

/* icons */

header .icon-menu , header .icon-moon-o , header .icon-sun{
  color: var(--subtitle);
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;
  background-color: var(--primary-background);
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  border: 1px solid rgba(129, 110, 0, 0.582);
  transition: all .3s;
  box-shadow: 1px 1px 10px  rgba(73, 73, 73, 0.377);
}
header .icon-menu:hover ,header .icon-moon-o:hover , header .icon-sun:hover{
  border: 1px solid rgba(141, 120, 1, 0.781);
  color: rgb(255, 255, 255);
}
header ul li .icon-close{
  color: var(--subtitle);
  font-size: 1.3rem;
  transition:  .5s;
}
header ul li .icon-close:hover{
  color: crimson;
  font-size: 1.7rem;
  transform: rotate(-180deg);
  
}

/* End icons */




/* end modal */

@media(max-width:700px){
    header.flex nav{ 
        display: none;
       
      }
      header button.menu{
        display: block;
       
      }
}

@media(min-width:700px){
  header .fixed {
      scale: 0;
     
    }
}