
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --primary-background : #05091b;
  --secondary-background : #18181b;
  --boredr: rgba(63,63,70,0.5);
  --title:rgb(244 244 245);
  --subtitle: rgb(161 161 170);
  --blue: rgb(93 188 252);
}

html{
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.2px;
}


body{
  background-color: var(--primary-background); 
  color: #fff;
}

.container{
  border: 1px solid var(--boredr);
  width: 80%;
  margin: 0 auto;
  background-color: var(--secondary-background);
}

.divider{
  border-bottom: 1px solid var(--boredr);
  margin: 3rem 0;
}

li{
  list-style: none;
}
a{
  text-decoration: none;
  color: initial;
  transition: all .3s;
}
.flex
{
  display: flex;
  align-items: center;
}

.border{
  border: 2px solid red;
}